@model TDList.ViewModels.RegisterViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Register";
    string statusError1 = ViewData["StatusError"] as string;
    string statusError2 = ViewData["StatusErrors"] as string;
    string statusError5 = ViewData["StatusErrorLog"] as string;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] @Localizer["ТД-Лист"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/RegLog.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TDList.styles.css" asp-append-version="true" />
</head>

<div class="container">
    <h1>@Localizer["ТД-Лист"]</h1>
    <h2>@Localizer["Регистрация"]</h2>
    <form class="form" method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <fieldset class="form-fieldset ui-input __first">
            <input type="text" id="username" placeholder="@Localizer["Логин"]" tabindex="0" asp-for="Login" />
            <label for="username" asp-for="Login">
                <span data-text="Username" asp-validation-for="Login">@Localizer["Логин"]</span>
            </label>
        </fieldset>

        <fieldset class="form-fieldset ui-input __second">
            <input type="email" id="email" placeholder="@Localizer["E-mail адрес"]" tabindex="0" asp-for="Email" />
            <label for="email" asp-for="Email">
                <span data-text="E-mail Address" asp-validation-for="Email">@Localizer["E-mail адрес"]</span>
            </label>
        </fieldset>
        <fieldset class="form-fieldset ui-input __first">
            <input type="text" id="username" placeholder="@Localizer["Ваше имя"]" tabindex="0" asp-for="Name" />
            <label for="username" asp-for="Name">
                <span data-text="Username" asp-validation-for="Name">@Localizer["Ваше имя"]</span>
            </label>
        </fieldset>
        <fieldset class="form-fieldset ui-input __third">
            <div style="display:flex;align-items: center;">
            <input type="password" id="new-password" placeholder="@Localizer["Введите пароль"]" asp-for="Password" />
                <ion-icon style="width: 30px;height: 30px;" name="eye-outline"></ion-icon>
            </div>
            <label style="position: relative; display: block; padding: 8px 0 8px 0; text-transform: uppercase; font-size: 14px; letter-spacing: .0875em; font-weight: 500; text-align: left;" for="new-password" asp-for="Password">
                <span data-text="New Password" asp-validation-for="Password">@Localizer["Введите пароль"]</span>
            </label>
        </fieldset>

        <fieldset class="form-fieldset ui-input __fourth">
            <div style="display:flex;align-items: center;">
            <input type="password" id="repeat-new-password" placeholder="@Localizer["Повторите пароль"]" asp-for="PasswordConfirm" />
                <ion-icon style="width: 30px;height: 30px;" name="eye-outline"></ion-icon>
            </div>
            <label style="position: relative; display: block; padding: 8px 0 8px 0; text-transform: uppercase; font-size: 14px; letter-spacing: .0875em; font-weight: 500; text-align: left;" for="repeat-new-password" asp-for="PasswordConfirm">
                <span data-text="Repeat New Password" asp-validation-for="PasswordConfirm">@Localizer["Повторите пароль"]</span>
            </label>
        </fieldset>
        <div class="form-group" style="color: red;">
            @Localizer[$"{statusError1}"]
            @Localizer[$"{statusError2}"]
            @Localizer[$"{statusError5}"]
        </div>
        <div class="form-footer">
            <button type="submit" class="btn">@Localizer["Создать"]</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let eyeIcons = document.querySelectorAll('ion-icon[name="eye-outline"]');
        let passwordFields = document.querySelectorAll('input[type="password"]');
        eyeIcons.forEach(function (eyeIcon, index) {
            eyeIcon.addEventListener('click', function () {
                if (passwordFields[index].type === "password") {
                    passwordFields[index].type = "text";
                    eyeIcon.setAttribute('name', 'eye-off-outline');
                } else {
                    passwordFields[index].type = "password";
                    eyeIcon.setAttribute('name', 'eye-outline');
                }
            });
        });
    });
</script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="~/js/RegLog.js" asp-append-version="true"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
